{% load data_filters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vtableapp/style.css' %}">
{% if latest_virus_list %}
    <table style="width:100%; text-align: center">
        <tr>
            <th>Date</th>
            <th>Filename</th>
            <th>Action</th>
            <th>Submit-Type</th>
            <th>Rating</th>
        </tr>
            {% for virus in latest_virus_list %}
            <tr style='background-color: {{virus.rating|getPriorityColor}}'>
                <td>{{virus.date}}</td>
                <td>{{virus.filename}}</td>
                <td>{{virus.action}}</td>
                <td>{{virus|getItem:'submit-type'}}</td>
                <td>{{virus.rating}}</td>
            </tr>
            {% endfor %}

    </table>
    </ul>
{% else %}
    <p>No virus data are available.</p>
{% endif %}